html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
/* end footer css*/

.caption {
	border-top: 1px solid lightgray;
	margin-top: 5px;
	padding: auto;
}

.caption h4 {
	text-align: center;
	margin: 2px;
}

.album-name {
  font-size: 20px;
}

.album-data {
  font-size: 13px;
}

.album-desc {
  margin-left: 15px;
  font-size: 12px;
}


/* Формы добавления фото */
.btn-add {
  width: 100px;
  padding-left: 3px;

}
.btn-remove {
  width: 100px;
  padding-left: 5px;
}
.input-group-sm{
  width: 60%;
}
.input-group-sm .form-control {
  width: 50%;

}.input-group-sm .form-control.file {
  width: 50%;
}

.upphoto {
  display: none;
}

.show_upphoto a {
  text-decoration: none;
  -moz-transition: color 0.5s 0.1s ease;
 -o-transition: color 0.5s 0.1s ease;
 -webkit-transition: color 0.5s 0.1s ease;
}
.show_upphoto a:hover {
  cursor: pointer;
  color: red;
}

.img-responsive {
  max-height: 70vh;
}

.admin_album {
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.img_container {
  max-width: 200px;
  max-height: 180px;
}
